* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container,
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: rgb(163, 218, 218);
  margin: 80px auto;
  cursor: pointer;
}

button {
  height: 100px;
  font-family: cursive;
  font-size: xx-large;
  color: #cc620b;
  font-weight: bold;
}

#q {
  color: red;
  font-size: 120%;
}

label {
  background-color: rgb(208, 230, 230);
  border-radius: 5px;
  margin: 17px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 100%;
  padding: 4px;
  cursor: pointer;
}

#ans {
  color: blue;
}

@media screen and (min-width: 700px) {
  label:hover {
    background-color: #92da0e;
  }
}

#correct:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#wrong:active {
  background-color: #f4511e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
